.product {
  &__img {
    max-height: 300px;
    padding: 1rem;
  }

  &__price {
    font-size: 2rem;
    font-weight: 700;
  }
}

.btn_custom_hover:hover{
  background-color:#fff !important;
  color: #0d6efd !important;
}


.fs_13p{
  font-size: 13px;
}