.item__img{
  width: 50%!important;
  height: 200px!important;
  object-fit: contain!important;
  margin: 1rem auto!important;
}

.textJustify{
  text-align: justify!important;
}

.ww{
  word-wrap: break-word!important;
}