.item__img{
  width: 50%!important;
  height: 150px!important;
  object-fit: contain!important;
  margin: 1rem auto!important;
}

.textJustify{
  text-align: justify!important;
}

.ww{
  word-wrap: break-word!important;
}

.btn_custom_hover:hover{
  background-color:#fff !important;
  color: #0d6efd !important;
}