.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_container {
  position: relative;
  padding: 1.5rem;
  min-width: 280px;
  //max-width: 480px;
  min-height: 200px;
  //max-height: 600px;
  overflow-y: auto;
  background-color: #fff;
}

.modal_close {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px 8px;
}

.modal.is_open {
  display: flex;
}