.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_container {
  position: relative;
  padding: 1.5rem;
  width: 95vw;
  min-height: 200px;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #fff;
}

.modal_close {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2px 8px;
}

.modal.is_open {
  display: flex;
}

@media (min-width: 568px) {
  .modal_container {
      width: 90vw;
  }
}

@media (min-width: 768px) {
  .modal_container {
    width: 60vw;
  }
}

@media (min-width: 992px) {
  .modal_container {
    width: 50vw;
  }
}