.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

.navbar {
  &__link {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.5490196078);

    &:hover {
      text-decoration: underline !important;
      color: #fff;
    }
  }
}


@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}